<div id="comment-<%= comment._id %>" class="neo-card comment-card">
    
    <div class="comment-header">
        <div class="comment-author-group">
            <a href="/user/<%= comment.author._id %>" class="neo-author-link" style="font-size: 0.9rem;">
                <img src="<%= comment.author.avatar %>" class="comment-avatar">
                <%= comment.author.name %>
            </a>
            <span class="meta-text" style="font-size: 0.7rem;">
                • <%= comment.commentAge %>
            </span>
        </div>

        <div class="comment-badge-group">
            <% if (comment.edit_datetime) { %>
                <span class="meta-text-edited">(EDITED)</span>
            <% } %>
            
            <% if (post && post.author._id.toString() == comment.author._id.toString()) { %>
                <span class="neo-badge neo-badge-author">AUTHOR</span>
            <% } %>
        </div>
    </div>
    
    <p class="comment-text"><%= comment.text %></p>

    <% if (sessionUser && comment.author._id == sessionUser._id && showControls) { %>
        <div class="comment-controls">
            <form action="/editcomment" method="post">
                <input type="hidden" name="authorId" value="<%= comment.author._id %>">
                <input type="hidden" name="commentId" value="<%= comment._id %>">
                <input type="hidden" name="comment" value="<%= JSON.stringify(comment) %>">
                <button type="submit" class="neo-btn neo-btn-yellow btn-comment-action">EDIT</button>
            </form>

            <form action="/delete" method="post">
                <input type="hidden" name="authorId" value="<%= comment.author._id %>">
                <input type="hidden" name="commentId" value="<%= comment._id %>">
                <input type="hidden" name="comment" value="<%= JSON.stringify(comment) %>">
                <button type="submit" class="neo-btn neo-btn-red btn-comment-action">DELETE</button>
            </form>
        </div>
    <% } %>
</div>