<header>
    <nav>
        <div class="nav-container">
            <div class="nav-logo-container">
                <a href="/" class="logo-sticker">
                    <img src="/img/daily-dank-logo.png" class="nav-logo">
                    <span class="brand-text">THE DAILY DANK</span>
                </a>
            </div>

            <% if (showActions) { %>
                <div class="nav-actions">
                    <a href="/upload" class="neo-btn neo-btn-red">
                        NEW POST
                    </a>
                    
                    <% if (sessionUser && sessionUser._id) { %>
                        <div class="nav-user-badge">
                            <a href="/user/<%= sessionUser._id %>" class="nav-profile-link">
                                <img src="<%= sessionUser.avatar %>" class="nav-avatar">
                                <div class="nav-user-info">
                                    <span class="nav-username"><%= sessionUser.name %></span>
                                    <span class="nav-karma-indicator">
                                        <span class="nav-karma-tier"><%= sessionUser.karmaTier %></span> <%= sessionUser.totalKarma %> KR
                                    </span>
                                </div>
                            </a>
                            <a href="/account/edit" class="nav-edit-link">EDIT</a>
                            <a href="/account/logout" class="nav-logout-link">LOGOUT</a>
                        </div>
                    <% } else { %>
                        <a href="/account/login" class="neo-btn neo-btn-white">
                            LOGIN
                        </a>
                    <% } %>
                </div>
            <% } %>
        </div>
    </nav>

    <!-- TODO: comment out before submission - keep for demo -->
    <div class="test-login-bar">
        <span>TESTING BYPASS LOGIN:</span>
        <a href="/testlogin/alex.tan@smu.edu.sg">ALEX</a>
        <a href="/testlogin/priya.nair@smu.edu.sg">PRIYA</a>
        <a href="/testlogin/jordan.lim@smu.edu.sg">JORDAN</a>
        <a href="/testlogin/mei.chen@gmail.com">MEI</a>
        <a href="/testlogin/ravi.s@smu.edu.sg">RAVI</a>
        <a href="/testlogin/sophie.wu@smu.edu.sg">SOPHIE</a>
        <a href="/testlogin/lkshar@smu.edu.sg">SHAR</a>
    </div>
</header>