<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/img/icon.png">
    <link rel="stylesheet" href="/css/style.css">
    <title>Delete</title>
</head>
<body>
    <%- include('partials/header', {sessionUser, showActions: true}) %>

    <main class="delete-container">
        <div class="neo-card delete-card">
            <div class="delete-sticker">WARNING!</div>

            <h2>DELETE <%= post ? "post" : comment ? "comment" : "account" %>?</h2>
            <p class="meta-text">
                ARE YOU ABSOLUTELY SURE? THIS ACTION IS PERMANENT AND CANNOT BE UNDONE.
            </p>

            <div class="delete-actions">
                <form action="/delete/confirm" method="post">
                    
                    <% if (post) { %>
                        <input type="hidden" name="authorId" value="<%= post.author._id %>">
                        <input type="hidden" name="postId" value="<%= post._id %>">
                        
                        <%- include('partials/post', {post, sessionUser, showControls: false}) %>
                        
                    <% } else if (comment) { %>
                        <input type="hidden" name="authorId" value="<%= comment.author._id %>">
                        <input type="hidden" name="commentId" value="<%= comment._id %>">
                        
                        <%- include('partials/comment', {comment, sessionUser, showControls: false}) %>
                        
                    <% } %>

                    <input type="hidden" name="backURL" value="<%= backURL %>">

                    <div class="delete-btn-group">
                        <button type="submit" name="confirm" value="true" class="neo-btn neo-btn-red">DELETE FOREVER</button>
                        <button type="submit" name="confirm" value="false" class="neo-btn neo-btn-yellow">Cancel</button>
                    </div>
                </form>
            </div>
        </div>



        <img src="/img/areyousure.png" alt="areyousure"
        style="position: fixed; bottom: 0px; right: 0px; width: auto; height: 50%; z-index: 1000;">
    </main>
</body>
</html>