<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/img/icon.png">
    <link rel="stylesheet" href="/css/style.css">
    <title><%= post.title || 'Post' %></title>
</head>
<%- include('partials/header', {sessionUser}) %>

    <body>
        <main class="feed-container">

            <section>
                <%- include('partials/post', {post, sessionUser, showControls: true}) %>
            </section>
    
            <section class="comment-post-section">
                <form action="/fullpost/<%= post._id %>/comment" method="POST" class="comment-post-form">
                    <textarea name="text" placeholder="Comment here..." id="commentText" class="comment-post-textarea" required></textarea>
    
                    <button type="submit" class="neo-btn neo-btn-red comment-post-btn">
                        COMMENT
                    </button>
                </form>
            </section>
    
            <section>
                <% if (comments && comments.length > 0) { %>
                    <% comments.forEach((comment) => { %>
                        <%- include('partials/comment', {comment, sessionUser, showControls: true}) %>
                    <% }); %>
                <% } else { %>
                    <p>No comments yet. Be the first to comment!</p>
                <% } %>
            </section>
        </main>

    </body>

</html>