<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/img/icon.png">
    <link rel="stylesheet" href="/css/style.css">
    <title>Users name</title>
</head>
<%- include('partials/header', {sessionUser, showActions: true}) %>
<body>
    <h1> <%= userInfo.name %>'s Information </h1>
    <h3> Email: <%= userInfo.email %> </h3>
    <h3> Date of Birth: <%= userInfo.dob %> </h3>
    <h3> Bio: <%= userInfo.bio %> </h3>
    <h3> Joined: <%= userInfo.joined %> </h3>
    <h3> Karma: <%= userInfo.karma.score %> </h3>
    <h3> Tier: <%= userInfo.karma.tier %> </h3>
    <h3> <img src="<%= userInfo.avatar %>" alt="avatar" height="100"></h3>
    
    <!-- Ensures that person is logged in, AND is visiting their user page -->
    <% if (sessionUser._id && sessionUser._id.toString() === userInfo._id.toString()) { %>
        <h3><a href="/account/edit">Edit</a></h3>
    <% } %>

    <hr>
    <h1> <%= userInfo.name %>'s Posts </h1>
    
    <% if (userPost.length === 0) { %>
        <p>This user has no posts yet. </p>
    <% } %>
<hr>

<% if (sessionUser && sessionUser._id) { %>
    <%- include('partials/sortTabs', { baseUrl: '/user/' + userInfo._id, resetUrl: '/home/reset-sort', currentSort }) %>
<% } %>
    <% userPost.forEach(post => { %>
        <%- include("partials/post", {
            post,
            sessionUser,
            showControls: true
        }) %>
    <% }) %>
    
</body>
</html>