<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/img/icon.png">
    <link rel="stylesheet" href="/css/style.css">
    <title>Users name</title>
</head>
<%- include('partials/header', {sessionUser, showActions: true}) %>
<body>
<div class="home-container">
    <h1> <%= userInfo.name %>'s Information </h1>
    <h3> Email: <%= userInfo.email %> </h3>
    <h3> Date of Birth: <%= userInfo.dob %> </h3>
    <h3> Bio: <%= userInfo.bio %> </h3>
    <h3> Joined: <%= userInfo.joined %> </h3>
    <h3> Karma: <%= userInfo.karma.score %> </h3>
    <h3> Tier: <%= userInfo.karma.tier %> </h3>
    <h3> <img src="<%= userInfo.avatar %>" alt="avatar" height="100"></h3>
    
    <!-- Ensures that person is logged in, AND is visiting their user page -->
    <% if (sessionUser._id && sessionUser._id.toString() === userInfo._id.toString()) { %>
        <h3><a href="/account/edit">Edit</a></h3>
    <% } %>

    <hr>
    <h1> <%= userInfo.name %>'s Posts </h1>
    
    <!-- Display sort tabs -->
    <%- include('partials/sortTabs', { baseUrl: `/user/${userInfo._id}`, resetUrl: `/user/reset-sort`, currentSort }) %>
    
    <!-- Display Posts -->
    <main class="feed-container">
        <% if (userPosts && userPosts.length > 0) { %>
            <% userPosts.forEach(post => { %>
                <%- include('partials/post', {post, sessionUser, showControls: true}) %>
            <% }); %>
        <% } else if (bookmarkError) { %>
            <div style="border: 3px dashed #ccc; padding: 40px; text-align: center; font-weight: bold; color: #888;">
                <%= bookmarkError %>
            </div>
        <% } else { %>
            <div style="border: 3px dashed #ccc; padding: 40px; text-align: center; font-weight: bold; color: #888;">
                No memes found. Be the first to upload one!
            </div>
        <% } %>
    </main>
</div>

</body>
</html>